body { /* Shown in 'Canvas' tab */
  background: var(--color-normal-bg);
  color: var(--color-normal-fg);

  font-family: "JetBrains Mono", monospace;
  font-size: 14px;
}

.docs-story { /* Shown in 'Docs' tab */
  background: var(--color-normal-bg);
  color: var(--color-normal-fg);
}
