.terminal {
  --default-font-family: "JetBrains Mono", monospace;
  --default-font-size: 14px;

  font-family: var(--font-family, var(--default-font-family));
  font-size: var(--font-size, var(--default-font-size));
}
