.solarized {
  --color-base-03:        #002b36;
  --color-base-02:        #073642;
  --color-base-01:        #586e75;
  --color-base-00:        #657b83;
  --color-base-0:         #839496;
  --color-base-1:         #93a1a1;
  --color-base-2:         #eee8d5;
  --color-base-3:         #fdf6e3;

  --color-accent-m:       #d33682; /* magenta */
  --color-accent-r:       #dc322f; /* red */
  --color-accent-o:       #cb4b16; /* orange */
  --color-accent-y:       #b58900; /* yellow */
  --color-accent-g:       #859900; /* green */
  --color-accent-c:       #2aa198; /* cyan */
  --color-accent-b:       #268bd2; /* blue */
  --color-accent-v:       #6c71c4; /* violet */

  --color-normal-black:   var(--color-base-02);
  --color-normal-red:     var(--color-accent-r);
  --color-normal-green:   var(--color-accent-g);
  --color-normal-yellow:  var(--color-accent-y);
  --color-normal-blue:    var(--color-accent-b);
  --color-normal-magenta: var(--color-accent-m);
  --color-normal-cyan:    var(--color-accent-c);
  --color-normal-white:   var(--color-base-2);

  --color-bright-black:   var(--color-base-03);
  --color-bright-red:     var(--color-accent-o);
  --color-bright-green:   var(--color-base-01);
  --color-bright-yellow:  var(--color-base-00);
  --color-bright-blue:    var(--color-base-0);
  --color-bright-magenta: var(--color-accent-v);
  --color-bright-cyan:    var(--color-base-1);
  --color-bright-white:   var(--color-base-3);
}

.solarized.dark {
  --color-normal-bg:      var(--color-base-03);
  --color-highlight-bg:   var(--color-base-02);
  --color-normal-fg:      var(--color-base-0);
  --color-highlight-fg:   var(--color-base-1);
  --color-secondary-fg:   var(--color-base-01);
}

.solarized.light {
  --color-normal-bg:      var(--color-base-3);
  --color-highlight-bg:   var(--color-base-2);
  --color-normal-fg:      var(--color-base-00);
  --color-highlight-fg:   var(--color-base-01);
  --color-secondary-fg:   var(--color-base-1);
}
